.Action-button {
    width: 60px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.Action-button--disabled {
    background-color: #d9bbf5;
}

@media only screen and (min-width: 600px) {
    .Action-button {
        width: 110px;
        padding: 5px 10px;
        font-size: 13px;
    }
}
