.Sort-button {
    margin: 0 0 15px 0;
    padding: 3px 7px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: #e5dfea;
    color: blueviolet;
    transition: .3s;
    font-size: 12px;
}

.Sort-button:hover {
    color: white;
    background-color: blueviolet;

}


