.Go-back-link {
    padding: 5px 10px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    color: blueviolet;
    font-size: 14px;
    transition: .3s;
    text-decoration: none;
}

.Go-back-link:hover {
    background-color: blueviolet;
    color: white;
}

@media only screen and (min-width: 600px) {
    .Go-back-link {
        margin-top: 15px;
        font-size: 17px;
    }
}