.Nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #410679;
    text-align: center;
}

.Nav__container {
    margin: 0 auto 10px;
    width: 80%;
}

.Nav__heading {
    color: white;
    font-size: 20px;
}

.Nav__item {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.Nav__active-link {
    border-bottom: 1px solid #DFD7E7FF
}

@media only screen and (min-width: 600px) {
    .Nav__item {
        font-size: 18px;
    }

    .Nav__heading {
        font-size: 28px;
    }
}