.Characters-List {
    margin: 0 auto;
    width: 90%
}

.Characters-List__heading {
    font-size: 20px;
}

@media only screen and (min-width: 600px) {
    .Characters-List {
        font-size: 15px;
        width: 80%;
    }

    .Characters-List__heading {
        font-size: 25px;
    }
}